body {
    box-sizing:border-box;
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    background-color: #656565 !important;
    font-family: 'Oswald' !important;
}

.accountForNav {
    position: relative;
    top: 5rem;
}

/* CUSTOM COLORS */

.btn-primary {
    background-color: #3385d9 !important;
  
}

.btn-primary:hover {
    background-color: #0b5ed7 !important;
    border: 1px solid #0a58ca !important;
}

.footer-link {
    color: #3385d9;
}